<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FacturaXML.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FacturaXML.My.MySettings>
            <setting name="Empresa" serializeAs="String">
                <value>TELEMATIC SOLUCIONS INFORMATIQUES,SL</value>
            </setting>
            <setting name="Direccio" serializeAs="String">
                <value>SANT SEBASTIA 7</value>
            </setting>
            <setting name="CodiPostal" serializeAs="String">
                <value>08800</value>
            </setting>
            <setting name="Provincia" serializeAs="String">
                <value>BARCELONA</value>
            </setting>
            <setting name="Pais" serializeAs="String">
                <value>ES</value>
            </setting>
            <setting name="Ciuat" serializeAs="String">
                <value>VILANOVA I LA GELTRU</value>
            </setting>
            <setting name="DiesAvis" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MesosAprovacio" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="MesosContractacio" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MesosFactura" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MostrarLlistatAprovades" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MostrarGestioAprovades" serializeAs="String">
                <value>True</value>
            </setting>
        </FacturaXML.My.MySettings>
    </userSettings>
</configuration>
